@using QA.Models
@using QA.Misc
@model MixModel
@{
    Odgovor odgovor = new Odgovor();
    if (User.Identity.IsAuthenticated)
    {
        ViewBag.Korisnik = ((User as LogiraniKorisnik).Id);
    }

    AjaxOptions ajaxOpt = new AjaxOptions()
    {
        HttpMethod = "GET",
        OnSuccess = "oznaceno",
        OnFailure = "oznacenoFail"
    };

    AjaxOptions ajaxOpt2 = new AjaxOptions()
    {
        HttpMethod = "GET",
        OnSuccess = "odznaceno"
    };
}


<title>
    @foreach (var pit in Model.Pitanja)
    {
        @pit.pitanjeTekst
        ViewBag.Id = pit.id;
    }
</title>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="bg show">
    <div class="question-block show">
        <div class="header">
            
                @Html.ActionLink(".", "Index", "App", new { @class = "close" })


            @foreach (var pit in Model.Pitanja)
            {
                <h1>
                    @pit.pitanjeTekst
                </h1>
                <h4 style="display:inline-block; margin-left:30px; color:#5151bf;">
                    @pit.kategorijaId.kategorija
                </h4>
            }
        </div>
        <div class="answers-main-section">
            <div class="answ-info">
                @foreach (var kor in Model.Korisnici)
                {
                    foreach (var pit in Model.Pitanja)
                    {
                        if (kor.id == pit.korisnicko_ime)
                        {
                            if (kor.ovlast_sifra == "AD")
                            {

                                if (User.Identity.IsAuthenticated)
                                {
                                    <h2>@Html.ActionLink((string)kor.korisnicko_ime, "DetaljiKorisnik", "Korisnik", new { id = kor.id }, new { @style = "color:#e74c3c;", @id = "korisnikDetalji", @data_url = Url.Action("DetaljiKorisnik", "Korisnik", new { id = kor.id }) })</h2>

                                }
                                else
                                {
                                    <h2 style="color:#e74c3c;">@kor.korisnicko_ime</h2>
                                }
                            }
                            else
                            {
                                if (User.Identity.IsAuthenticated)
                                {
                                    <h2>@Html.ActionLink((string)kor.korisnicko_ime, "DetaljiKorisnik", "Korisnik", new { id = kor.id }, new { @style = "color:#303133;", @id = "korisnikDetalji", @data_url = Url.Action("DetaljiKorisnik", "Korisnik", new { id = kor.id }) })</h2>

                                }
                                else
                                {
                                    <h2>@kor.korisnicko_ime</h2>
                                }
                            }
                            <img src="@Url.Content(kor.PutanjaSlike)" class="user">

                        }
                    }
                }
                @foreach (var pit in Model.Pitanja)
                {
                    if (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator))
                    {
                        <div class="buttons-box">
                            <button class="update">@Html.ActionLink("Ažuriraj", "AzurirajPitanje", new { pit_id = pit.id, user_id = (User as LogiraniKorisnik).Id })</button>
                            <button class="delete">@Html.ActionLink("Izbriši", "BrisiPitanje", new { pit_id = pit.id, user_id = (User as LogiraniKorisnik).Id })</button>
                        </div>

                    }
                    else if (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).Id == pit.korisnicko_ime)
                    {
                        <div class="buttons-box">
                            <button class="update">@Html.ActionLink("Ažuriraj", "AzurirajPitanje", new { pit_id = pit.id, user_id = (User as LogiraniKorisnik).Id }, new { @class = "btn btn-info btn-sm", @id = "smjerDetails", @data_url = @Url.Action("AzurirajPitanje", "App", new { pit_id = pit.id }) }) </button>
                            <button class="delete">@Html.ActionLink("Izbriši", "BrisiPitanje", new { pit_id = pit.id, user_id = (User as LogiraniKorisnik).Id })</button>
                        </div>
                    }
                }
            </div>
            <div class="answ-container">
                @foreach (var pit in Model.Pitanja)
                {
                    <p class="num-of-answ details">
                        Postavljeno: @pit.datumObjave.Day.@pit.datumObjave.Month.@pit.datumObjave.Year
                    </p>
                    <p class="num-of-answ details">
                        Broj odgovora:
                        @if (ViewBag.Broj > 0)
                        {
                            <span>@ViewBag.Broj</span>
                        }
                        else
                        {
                            <span>0</span>
                        }
                    </p>
                }
            <div class="answers">
                <div id="uspjehOd" class="alert alert-info" role="alert">
                    <div class="zaglavlje">
                        <span class="zatvori-o" id="info-close">&times;</span>
                    </div>
                    Odgovor je uspješno odznačen!
                </div>
                @if (ViewBag.Broj == 0)
                {
                    <p class="no-answers">Nema odgovora.</p>
                }
                else
                {
                    foreach (var odg in Model.Odgovori)
                    {
                        foreach (var pit in Model.Pitanja)
                        {
                            if (odg.pitanje_id == pit.id && odg.najdraze == true)
                            {
            <div class="answer odabran">
                <img src="@Url.Content(odg.korisnickoIme.PutanjaSlike)" class="user-min">
                <p>@odg.odgovor</p>
                @odg.datumObjave.Day.@odg.datumObjave.Month.@odg.datumObjave.Year
                @if (User.Identity.IsAuthenticated)
                {
                    <p>
                        @Html.ActionLink((string)odg.korisnickoIme.korisnicko_ime, "DetaljiKorisnik", "Korisnik", new { id = odg.korisnickoIme.id }, new { @style = "color:#fff;", @id = "korisnikDetalji", @data_url = Url.Action("DetaljiKorisnik", "Korisnik", new { id = odg.korisnickoIme.id }) })
                    </p>
                    <div class="answer-buttons-box">
                        @if (odg.korisnicko_ime == ((User as LogiraniKorisnik).Id) || (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator)))
                        {
                            <button class="update-answ">@Html.ActionLink("Ažuriraj", "AzurirajOdgovor", new { odg_id = odg.id, user_id = (User as LogiraniKorisnik).Id })</button>
                            <button class="delete-answ">@Html.ActionLink("Izbriši", "BrisiOdgovor", new { odg_id = odg.id, user_id = (User as LogiraniKorisnik).Id })</button>
                        }

                        @if ((User as LogiraniKorisnik).Id == pit.korisnicko_ime || (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator)))
                        {
                            <span>
                                @using (Ajax.BeginForm("OdznaciOdgovor", "App", new { id = odg.id }, ajaxOpt2))
                                {
                                    @Html.AntiForgeryToken()
                                    <button class="best" type="submit" id="odznaci">
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </button>
                                }
                            </span>
                        }
                    </div>

                }
                else
                {
                    <p>
                        @odg.korisnickoIme.korisnicko_ime
                    </p>
                }

            </div>
                            }
                            else if (odg.pitanje_id == pit.id)
                            {

            <div class="answer">
                <div id="uspjehOz" class="alert alert-success" role="alert">
                    <div class="zaglavlje">
                        <span class="zatvori-o" id="success-close">&times;</span>
                    </div>
                    Odgovor je uspješno označen!
                </div>

                <div id="neuspjehOz" class="alert alert-danger" role="alert">
                    <div class="zaglavlje">
                        <span class="zatvori-o" id="fail-close">&times;</span>
                    </div>
                    Samo jedan odgovor može biti označen!
                </div>

                <img src="@Url.Content(odg.korisnickoIme.PutanjaSlike)" class="user-min">
                <p>@odg.odgovor</p>
                @odg.datumObjave.Day.@odg.datumObjave.Month.@odg.datumObjave.Year
                @if ((User.Identity.IsAuthenticated && (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator)) || (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).Id == pit.korisnicko_ime))
                {
                    <p>
                        @Html.ActionLink((string)odg.korisnickoIme.korisnicko_ime, "DetaljiKorisnik", "Korisnik", new { id = odg.korisnickoIme.id }, new { @style = "color:#303133;", @id = "korisnikDetalji", @data_url = Url.Action("DetaljiKorisnik", "Korisnik", new { id = odg.korisnickoIme.id }) })
                    </p>
                    <div class="answer-buttons-box">
                        @if (odg.korisnicko_ime == ((User as LogiraniKorisnik).Id) || (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator)))
                        {
                            <button class="update-answ">@Html.ActionLink("Ažuriraj", "AzurirajOdgovor", new { odg_id = odg.id, user_id = (User as LogiraniKorisnik).Id })</button>
                            <button class="delete-answ">@Html.ActionLink("Izbriši", "BrisiOdgovor", new { odg_id = odg.id, user_id = (User as LogiraniKorisnik).Id })</button>
                        }

                        @if ((User as LogiraniKorisnik).Id == pit.korisnicko_ime || (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator)))
                        {
                            <span>
                                @using (Ajax.BeginForm("OdaberiOdgovor", "App", new { id = odg.id }, ajaxOpt))
                                {
                                    @Html.AntiForgeryToken()
                                    <button id="oznaci" class="best" type="submit">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </button>
                                }
                            </span>
                        }
                    </div>
                }
                else if (User.Identity.IsAuthenticated)
                {
                    <p>
                        @Html.ActionLink((string)odg.korisnickoIme.korisnicko_ime, "DetaljiKorisnik", "Korisnik", new { id = odg.korisnickoIme.id }, new { @style = "color:#303133;", @id = "korisnikDetalji", @data_url = Url.Action("DetaljiKorisnik", "Korisnik", new { id = odg.korisnickoIme.id }) })
                    </p>
                    if (odg.korisnicko_ime == ((User as LogiraniKorisnik).Id))
                    {
                        <div class="answer-buttons-box">
                            <button class="update-answ">@Html.ActionLink("Ažuriraj", "AzurirajOdgovor", new { odg_id = odg.id, user_id = (User as LogiraniKorisnik).Id })</button>
                            <button class="delete-answ">@Html.ActionLink("Izbriši", "BrisiOdgovor", new { odg_id = odg.id, user_id = (User as LogiraniKorisnik).Id })</button>
                        </div>
                    }
                }
                else
                {
                    <p>
                        @odg.korisnickoIme.korisnicko_ime
                    </p>
                }

            </div>
                            }
                        }
                    }
                }
            </div>
            </div>
        </div>
        <div class="answer-form">
            @if (User.Identity.IsAuthenticated)
            {
                @Html.Partial("_PartialOdgovor", odgovor)
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    function oznaceno() {
        document.getElementById("uspjehOz").style.display = "block";
        var x = document.getElementById("success-close");
        x.addEventListener("click", function () {
            location.reload();
        });
    }

    function oznacenoFail() {
        document.getElementById("neuspjehOz").style.display = "block";
        var x = document.getElementById("fail-close");
        x.addEventListener("click", function () {
            location.reload();
        });
    }

    function odznaceno() {
        document.getElementById("uspjehOd").style.display = "block";
        var x = document.getElementById("info-close");
        x.addEventListener("click", function () {
            location.reload();
        });
    }

</script>

@Styles.Render("/Content/style.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")