@using QA.Models
@using QA.Misc
@model MixModel


@if ((ViewBag.Kategorija == null) && (ViewBag.Pojam != null))
{
    <div class="category-name">Rezultati pretrage za: @ViewBag.Pojam</div>
}
else if ((ViewBag.Kategorija != null) && (ViewBag.Pojam != null))
{
    <div class="category-name">Rezultati pretrage za: @ViewBag.Pojam unutar @ViewBag.Kategorija</div>
}
else if ((ViewBag.Kategorija != null) && (ViewBag.Pojam == null))
{
    if ((User.Identity.IsAuthenticated && (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator)))
    {
        <div class="category-name">@ViewBag.Kategorija
        <p style="display:inline-block">@Html.ActionLink("Ažuriraj", "AzurirajKategoriju", new { kat_id = ViewBag.Id },new {@style="color:#fff;margin-left:20%;" })</p>
        <p style="display:inline-block">@Html.ActionLink("Izbriši", "BrisiKategoriju", new { kat_id = ViewBag.Id }, new { @style = "color:#fff;margin-left:20%;margin-left:40%;" })</p>
    </div>
    }
    else
    {
        <div class="category-name">@ViewBag.Kategorija</div>
    }
}
else if ((ViewBag.Kategorija == null) && (ViewBag.Pojam == null))
{
    <div class="category-name">Najnovija pitanja</div>
}

<div class="questions">
    @if ((ViewBag.Kategorija == null) && (ViewBag.Pojam == null))
    {
        foreach (var pit in Model.Pitanja.Take(10))
        {
            <div class="question-box">
                <div class="question-text">
                    @if (!String.IsNullOrEmpty(pit.pitanjeTekst))
                    {
                        @Html.ActionLink(pit.pitanjeTekst, "OtvoriPitanje", new { id = pit.id }, new { @id = "pitanjeDetalji", @data_url = Url.Action("OtvoriPitanje", "App", new { id = pit.id }) })

                    }
                </div>
                <p class="answers-num">
                    Odgovora:
                    @if (Model.Odgovori.Where(x => x.pitanje_id == pit.id).Count() != 0)
                    {
                        <div class="num">@Model.Odgovori.Where(x => x.pitanje_id == pit.id).Count()</div>
                    }
                    else
                    {
                        <div class="num" style="background-color:#c0392b;">0</div>
                    }
                </p>
            </div>
        }
    }
    else
    {
        foreach (var pit in Model.Pitanja)
        {
            <div class="question-box">
                <div class="question-text">
                    @if (!String.IsNullOrEmpty(pit.pitanjeTekst))
                    {
                        @Html.ActionLink(pit.pitanjeTekst, "OtvoriPitanje", new { id = pit.id }, new { @id = "pitanjeDetalji", @data_url = Url.Action("OtvoriPitanje", "App", new { id = pit.id }) })

                    }
                </div>
                <p class="answers-num">
                    Odgovora:
                    @if (Model.Odgovori.Where(x => x.pitanje_id == pit.id).Count() != 0)
                    {
                        <div class="num">@Model.Odgovori.Where(x => x.pitanje_id == pit.id).Count()</div>
                    }
                    else
                    {
                        <div class="num" style="background-color:#c0392b;">0</div>
                    }
                </p>
            </div>
        }
    }
    @if (Model.Pitanja.Count() == 0)
    {
        <div class="question-text">
            Nema rezultata pretrage.
        </div>
    }


</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@Styles.Render("/Content/style.css")
