@using QA.Models
@using QA.Misc
@model PitanjeAzuriranje
@{
    ViewBag.Title = "Ažuriraj pitanje";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>@Html.ActionLink("Natrag na pitanja", "Index", "App")</li>
            </ul>
        </nav>
    </header>
    <section class="body">
        <section class="form-section">
            <h1>@ViewBag.Title</h1>
            @using (Html.BeginForm("AzurirajPitanje", "App", FormMethod.Post, new { @class = "login-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationMessageFor(m => m.PitanjeTekst, "", new {@style = "color:red;" })
                @Html.LabelFor(model => model.PitanjeTekst)
                @Html.EditorFor(model => model.PitanjeTekst)
                @Html.ValidationMessageFor(m => m.Kategorija, "", new { @style = "color:red;" })
                @Html.LabelFor(model => model.Kategorija)<br />
                @Html.DropDownListFor(model => model.Kategorija, new SelectList(ViewBag.Kategorije), "Odaberite kategoriju")
                @Html.HiddenFor(model => model.Id, new { Value = ViewBag.Id })
                <p>Ne možete pronaći kategoriju? @Html.ActionLink("Dodajte novu kategoriju", "DodajKategoriju", "App")</p>
                <button name="azurirajPit" type="submit">
                    Ažuriraj
                </button>
            }
        </section>
    </section>
</body>
</html>

@Styles.Render("/Content/style.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")