@using QA.Models
@using QA.Misc
@model OdgovorAzuriranje
@{
    ViewBag.Title = "Ažuriraj odgovor";
    Layout = null;
    AjaxOptions ajaxOpt = new AjaxOptions()
    {
        HttpMethod = "POST",
        OnBegin = "prozor"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="sakrij">
    </div>
    <header>
        <div class="hamburger-menu">
            <div class="bar"></div>
        </div>
        <div class="mobile-nav hide">
            <ul>
                @if (TempData["dosaoSa"] != null)
                {
                    <li><a href='@TempData["dosaoSa"]'>Povratak</a></li>
                }
                else
                {
                    <li>@Html.ActionLink("Početak", "Index", "Home")</li>
                }
            </ul>
        </div>
    </header>
    <section class="body">
        <section class="form-section" style="padding: 15px 15px;">
            <div id="poruka">
                <div id="poruka_zaglavlje">
                    @if (TempData["dosaoSa"] == null)
                    {
                        <a href='@Url.Action("Index", "App")'>
                            <span id="zatvori">&times;</span>
                        </a>
                    }
                    else
                    {
                        <a href='@TempData["dosaoSa"]'>
                            <span id="zatvori">&times;</span>
                        </a>
                    }
                </div>
                <div id="poruka_tekst"></div>
            </div>
            <h1>@ViewBag.Title</h1>
            @using (Ajax.BeginForm("AzurirajOdgovor", "App", ajaxOpt, new { @class = "login-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.LabelFor(model => model.Odgovor)<br />
                @Html.TextAreaFor(model => model.Odgovor, new { htmlAttributes = new { @placeholder = "Upišite odgovor..."} })<br />
                @Html.ValidationMessageFor(m => m.Odgovor, "", new { @class = "validacija" })
                @Html.HiddenFor(model => model.Id, new { Value = ViewBag.Id })
                <button id="azurirajOdg" name="azurirajOdg" type="submit" style="margin: 25px 0%;">
                    Ažuriraj
                </button>
            }
        </section>
    </section>
</body>
</html>
<script type="text/javascript">
    function prozor() {
        var poruka = document.getElementById("poruka");
        document.getElementById("poruka_tekst").style.lineHeight = "55px";
        document.getElementById("poruka_tekst").innerHTML = "<span id='kvacica-azuriraj'>&#x2714;</span> <br> Odgovor uspješno ažuriran!";
        poruka.classList.add("fadein");
        poruka.style.zIndex = 3;
        var sakrij = document.getElementById("sakrij");
        sakrij.setAttribute("class", "sakrij");
        var tipka = document.getElementById("azurirajOdg");
        tipka.disabled = "disabled";
    }

    (function () {
        $('.hamburger-menu').on('click', function () {
            $('.bar').toggleClass('animate');
            var mobileNav = $('.mobile-nav');
            mobileNav.toggleClass('hide show');
        })
    })();

</script>

@Styles.Render("/Content/style.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")