@using QA.Models
@using QA.Misc
@model PitanjeAzuriranje
@{
    ViewBag.Title = "Ažuriraj pitanje";
    Layout = null;
    AjaxOptions ajaxOpt = new AjaxOptions()
    {
        HttpMethod = "POST",
        OnBegin = "prozor"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="sakrij">
    </div>
    <header>
        <div class="hamburger-menu">
            <div class="bar"></div>
        </div>
        <div class="mobile-nav hide">
                <ul>
                    @if (TempData["dosaoSa"] != null)
                    {
                        if (TempData["dosaoSa"].ToString().Contains("DodajKategoriju"))
                        {
                            <li>@Html.ActionLink("Natrag na pitanja", "Index", "App")</li>
                        }
                        else
                        {
                            <li><a href='@TempData["dosaoSa"]'>Povratak</a></li>
                        }
                    }
                    else
                    {
                        <li>@Html.ActionLink("Natrag na pitanja", "Index", "App")</li>
                    }
                </ul>
            </div>
    </header>
    <section class="body">
        <section class="form-section">
            <div id="poruka">
                <div id="poruka_zaglavlje">
                    @if (TempData["dosaoSa"] == null)
                    {
                        <a href='@Url.Action("Index", "App")'>
                            <span id="zatvori">&times;</span>
                        </a>
                    }
                    else
                    {
                        if (TempData["dosaoSa"].ToString().Contains("DodajKategoriju"))
                        {
                            <a href='@Url.Action("Index", "App")'>
                                <span id="zatvori">&times;</span>
                            </a>
                        }
                        else
                        {
                            <a href='@TempData["dosaoSa"]'>
                                <span id="zatvori">&times;</span>
                            </a>
                        }
                    }
                </div>
                <div id="poruka_tekst"></div>
            </div>
            <h1>@ViewBag.Title</h1>
            @using (Ajax.BeginForm("AzurirajPitanje", "App", ajaxOpt, new { @class = "login-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.LabelFor(model => model.PitanjeTekst)
                @Html.EditorFor(model => model.PitanjeTekst)
                @Html.ValidationMessageFor(m => m.PitanjeTekst, "", new { @class = "validacija" })<br />
                @Html.LabelFor(model => model.Kategorija)<br />
                @Html.DropDownListFor(model => model.Kategorija, new SelectList(ViewBag.Kategorije), "Odaberite kategoriju")
                @Html.ValidationMessageFor(m => m.Kategorija, "", new { @class = "validacija" })
                @Html.HiddenFor(model => model.Id, new { Value = ViewBag.Id })
                <p>Ne možete pronaći kategoriju? @Html.ActionLink("Dodajte novu kategoriju", "DodajKategoriju", "App")</p>
                <button id="azurirajPit" name="azurirajPit" type="submit">
                    Ažuriraj
                </button>
            }
        </section>
    </section>
</body>
</html>
<script type="text/javascript">
    function prozor() {
            var poruka = document.getElementById("poruka");
        document.getElementById("poruka_tekst").innerHTML = "<span id='kvacica-azuriraj'>&#x2714;</span> <br> Pitanje uspješno ažurirano!";
        poruka.classList.add("fadein");
        poruka.style.zIndex = 3;
        var sakrij = document.getElementById("sakrij");
        sakrij.setAttribute("class", "sakrij");
        var tipka = document.getElementById("azurirajPit");
        tipka.disabled = "disabled";
    }

    (function () {
        $('.hamburger-menu').on('click', function () {
            $('.bar').toggleClass('animate');
            var mobileNav = $('.mobile-nav');
            mobileNav.toggleClass('hide show');
        })
    })();

</script>

@Styles.Render("/Content/style.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")