@model QA.Models.Odgovor
@{
    Layout = null;
    ViewBag.Title = "Brisanje odgovora";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>@Html.ActionLink("Natrag na pitanja", "Index", "App")</li>
            </ul>
        </nav>
    </header>

    <section class="body">
        <section class="form-section">
            <p>Jeste li sigurni da želite obrisati odgovor "@Model.odgovor"?</p>
            @using (Html.BeginForm())
            {

                @Html.AntiForgeryToken()
                <button name="obrisiOdg" type="submit">
                    Izbriši
                </button>
            }
        </section>
    </section>
</body>
</html>
@Styles.Render("/Content/style.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")