@using QA.Models
@using QA.Misc
@model Pitanje
@{
    ViewBag.Title = "Dodaj pitanje";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>@Html.ActionLink("Natrag na pitanja", "Index", "App")</li>
            </ul>
        </nav>
    </header>
    <section class="body">
        <section class="form-section">
            <h1>@ViewBag.Title</h1>
            @using (Html.BeginForm("DodajPitanje", "App", FormMethod.Post, new { @class = "login-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.LabelFor(m => m.pitanjeTekst)
                @Html.EditorFor(m => m.pitanjeTekst, new { htmlAttributes = new { @placeholder = "Pitanje..." } })
                @Html.ValidationMessageFor(m => m.pitanjeTekst, "", new { @class = "validacija" })<br />
                @Html.LabelFor(m => m.kategorija)<br />
                @Html.DropDownListFor(m => m.kategorija, new SelectList(ViewBag.Kategorije), "Odaberite kategoriju")
                @Html.ValidationMessageFor(m => m.kategorija, "", new { @class = "validacija" })<br />
                @Html.HiddenFor(m => m.datumObjave, new { Value = DateTime.Now.ToString("dd'/'MM'/'yyyy HH: mm:ss") })
                @Html.HiddenFor(m => m.korisnicko_ime, new { Value = ((User as LogiraniKorisnik).Id) })
                <p>Ne možete pronaći kategoriju? @Html.ActionLink("Dodajte novu kategoriju", "DodajKategoriju", "App")</p>
                <button name="dodajPit" type="submit">
                    Dodaj
                </button>
            }
        </section>
    </section>
</body>
</html>

@Styles.Render("/Content/style.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")