@using QA.Models
@using QA.Misc
@model MixModel
@{
    ViewBag.Title = "QBox";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOpt = new AjaxOptions()
    {
        UpdateTargetId = "questionList",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
        OnBegin = "LoadingRow"
    };
}
<div class="search-section" id="pretrazivanje">
    <div class="search-box">
        @using (Ajax.BeginForm("Pretrazivanje", "App", ajaxOpt))
        {
            @Html.TextBox("pitanjeTekst", null, new { @class = "search-input", @placeholder = "Što želite saznati?" })
            @Html.DropDownList("kategorija", new SelectList(Model.Kategorije.Select(x => x.kategorija)), "Sve kategorije", new { @class = "category-select" })
            <button type="submit" class="search-btn">Traži...</button>
        }
    </div>
</div>

<div class="question-container" id="questionList">
    <div class="category-name">Najnovija pitanja</div>
    <div class="questions">
        @foreach (var pit in Model.Pitanja.Take(10))
        {
            <div class="question-box">
                <div class="question-text">
                    @if (!String.IsNullOrEmpty(pit.pitanjeTekst))
                    {
                        @Html.ActionLink(pit.pitanjeTekst, "OtvoriPitanje", new { id = pit.id }, new { @id = "pitanjeDetalji", @data_url = Url.Action("OtvoriPitanje", "App", new { id = pit.id }) })

                    }
                </div>
                <p class="answers-num">
                    Odgovora:
                    @if (Model.Odgovori.Where(x => x.pitanje_id == pit.id).Count() != 0)
                    {
                        <div class="num">@Model.Odgovori.Where(x => x.pitanje_id == pit.id).Count()</div>
                    }
                    else
                    {
                        <div class="num" style="background-color:#c0392b;">0</div>
                    }
                </p>
            </div>
        }
    </div>
</div>

@Styles.Render("/Content/style.css")
<script type="text/javascript">
    function LoadingRow() {
        $("#questionList").empty();

        $("#questionList").append('<div class="question-box"><div class="question-text" style="text-align:center;">Pretraga u tijeku...</div></div>');

        // $("#pager").empty();
    }
</script>



