@using QA.Models
@using QA.Misc
@model Korisnik


<title>@Model.korisnicko_ime</title>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div class="bg show">
                <div class="question-block show">
                    <div class="header">
                        @Html.ActionLink(".", "Index", "Korisnik", new { @class = "close" })
                        <!--<a href="#" class="close"></a>-->
                        <h1 class="modal-title">@Model.korisnicko_ime</h1>

                    </div>
                    <div class="modal-body">
                        <div class="answers-main-section">
                            <div class="answ-info">

                                <h2>@Model.korisnicko_ime</h2>

                                <img src="~/img/user.png" class="user">
                            </div>
                            <div class="answ-container">
                                <p class="num-of-answ">Ovlast: <span>@Model.ovlast_sifra</span></p>
                                <p class="num-of-answ">
                                    Broj pitanja:
                                    @if (ViewBag.Broj > 0)
                                    {
                                        <span>@ViewBag.Broj</span>
                                    }
                                    else
                                    {
                                        <span>0</span>
                                    }
                                </p>
                                <div class="modal-footer">
                                    <div class="answer-form">
                                        @if (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator))
                                        {
                                            @Html.ActionLink("Ažuriraj", "Azuriraj", new { id = Model.id })
                                            @Html.ActionLink("Izbriši", "Brisi", new { id = Model.id })
                                        }
                                        else if (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).Id == Model.id)
                                        {
                                            @Html.ActionLink("Ažuriraj", "Azuriraj", new { id = Model.id })
                                            @Html.ActionLink("Izbriši", "Brisi", new { id = Model.id })
                                        }
                                        else
                                        {
                                            
                                        }
                                    </div>
                                </div>
                                <div class="answers">
                                    @if (ViewBag.Broj == 0)
                                    {
                                        <div class="answer">
                                            <p class="no-answers">Korisnik nema postavljenih pitanja.</p>
                                        </div>
                                    }
                                    else
                                    {
                                        foreach (var pit in ViewBag.Pitanja)
                                        {
                                            <div class="answer">
                                                <p>@Html.ActionLink((string)pit.pitanjeTekst, "OtvoriPitanje", "App", new { id = pit.id }, new { @id = "pitanjeDetalji", @data_url = Url.Action("OtvoriPitanje", "App", new { id = pit.id }) })</p>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Styles.Render("/Content/style.css")
