@using QA.Models
@using QA.Misc
@model Korisnik



<title>@Model.korisnicko_ime</title>
            <div class="bg show">
                <div class="question-block show">
                    <div class="header">
                        @if (ViewBag.Ref != null && (!ViewBag.Ref.Contains("OtvoriPitanje")))
                        {
                            <a class="close" href="@ViewBag.Ref">.</a>
                        }
                        else
                        {
                        @Html.ActionLink(".", "Index", "Korisnik", new { @class = "close" })
                        }
                        <!--<a href="#" class="close"></a>-->
                        <h1>@Model.korisnicko_ime</h1>

                    </div>
                        <div class="answers-main-section">
                            <div class="answ-info">

                                <h2>@Model.korisnicko_ime</h2>

                                <img src="~/img/user.png" class="user">
                                @if (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator))
                                {
                            <div class="buttons-box">
                                <button class="update">@Html.ActionLink("Ažuriraj", "Azuriraj", new { id = Model.id })</button>
                                <button class="delete">@Html.ActionLink("Izbriši", "Brisi", new { id = Model.id })</button><br />
                                </div>
                                <div class="buttons-box" style="margin-top:10px;">
                                <button class="best" style="width:110px;">
                                    @Html.ActionLink("PDF pitanja", "KorisnikIspisPit", "App", new { id = Model.id },null)
                                </button><br />
                                <button class="best" style="width:110px;">
                                    @Html.ActionLink("PDF odgovora", "KorisnikIspisOdg", "App", new { id = Model.id },null)
                                </button>
                            </div>
                                }
                                else if (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).Id == Model.id)
                                {
                            <div class="buttons-box">
                                <button class="update">@Html.ActionLink("Ažuriraj", "Azuriraj", new { id = Model.id })</button>
                                <button class="delete">@Html.ActionLink("Izbriši", "Brisi", new { id = Model.id })</button><br />
                                </div>
                                <div class="buttons-box" style="margin-top:10px;">
                                <button class="best" style="width:110px;">
                                    @Html.ActionLink("PDF pitanja", "KorisnikIspisPit","App", new { id = Model.id },null)
                            </button><br />
                            <button class="best" style="width:110px;">
                                @Html.ActionLink("PDF odgovora", "KorisnikIspisOdg","App", new { id = Model.id },null)
                            </button>
                            </div>
                                }
                                else if (User.Identity.IsAuthenticated)
                                {
                            <div class="buttons-box">
                                <button class="best" style="width:110px;">
                                    @Html.ActionLink("PDF pitanja", "KorisnikIspisPit", "App", new { id = Model.id }, null)
                                </button><br />
                                         <button class="best" style="width:110px;">
                                             @Html.ActionLink("PDF odgovora", "KorisnikIspisOdg", "App", new { id = Model.id }, null)
                                         </button>
                            </div>
                                }
</div>
                            <div class="answ-container">
                                <p class="num-of-answ">Ovlast: <span>@Model.ovlast_sifra</span></p>
                                <p class="num-of-answ">
                                    Broj pitanja:
                                    @if (ViewBag.Broj > 0)
                                    {
                                        <span>@ViewBag.Broj</span>
                                    }
                                    else
                                    {
                                        <span>0</span>
                                    }
                                </p>
                                <div class="answers">
                                    @if (ViewBag.Broj == 0)
                                    {
                                        if (Model.id == ((User as LogiraniKorisnik).Id))
                                        {
                                    <div class="answer">
                                        <p class="no-answers">Nemate postavljenih pitanja.</p><br />
                                        <li>@Html.ActionLink("Dodajte ih!", "DodajPitanje", "App",null, new { @data_url = Url.Action("DodajPitanje", "App"), @style="color:black;" }) </li>
                                    </div>
                                        }
                                        else
                                        {
                                            <div class="answer">
                                                <p class="no-answers">Korisnik nema postavljenih pitanja.</p>
                                            </div>
                                        }

                                    }
                                    else
                                    {
                                        foreach (var pit in ViewBag.Pitanja)
                                        {
                                            <div class="answer">
                                                <p>@Html.ActionLink((string)pit.pitanjeTekst, "OtvoriPitanje", "App", new { id = pit.id }, new { @id = "pitanjeDetalji", @data_url = Url.Action("OtvoriPitanje", "App", new { id = pit.id }) })</p>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Styles.Render("/Content/style.css")
