@using QA.Models
@using QA.Misc
@model Korisnik



<title>@Model.korisnicko_ime</title>
            <div class="bg show">
                <div class="question-block show">
                    <div class="header">
                        @*@if (ViewBag.Ref != null && (!ViewBag.Ref.Contains("OtvoriPitanje")))
        {*@
                        @*@if ((TempData["dosaoSa"] != null) && (TempData["natrag"] == null) && (TempData["natrag2"] == null))
        {
            //<a class="close" href="@ViewBag.Ref">.</a>
            <a class="close" href='@TempData["dosaoSa"]'>.</a>
        }
        else if ((TempData["dosaoSa"] != null) && (TempData["natrag"] != null) && (TempData["natrag2"] == null))
        {
            <a class="close" href='@TempData["natrag"]'>.</a>
        }
        else if ((TempData["dosaoSa"] != null) && (TempData["natrag"] != null) && (TempData["natrag2"] != null))
        {
            <a class="close" href='@TempData["natrag2"]'>.</a>
        }
        else if ((TempData["dosaoSa"] == null) && (TempData["natrag"] != null) && (TempData["natrag2"] != null))
        {
            <a class="close" href='@TempData["natrag2"]'>.</a>
        }
        else
        {
            @Html.ActionLink(".", "Index", "Korisnik", new { @class = "close" })
        }*@
                        @if ((TempData["dosaoSaKor"] != null) && (TempData["pit"] == null))
                        {
                            <a class="close" href='@TempData["dosaoSaKor"]'>.</a>
                        }
                        else if ((TempData["pit"] != null))
                        {
                            <a class="close" href='@TempData["pit"]'>.</a>
                        }
                        else if ((TempData["dosaoSaKor"] != null) && (TempData["pit"] != null) && (TempData["triKor"] != null))
                        {
                            <a class="close" href='@TempData["triKor"]'>.</a>
                        }
                        else
                        {
                            @Html.ActionLink(".", "Index", "Korisnik", new { @class = "close" })
                        }
                        <!--<a href="#" class="close"></a>-->
                        @if (Model.ovlast_sifra == "AD")
                        {
                            <h1 style="color:#e74c3c">@Model.korisnicko_ime</h1>
                        }
                        else
                        {
                            <h1 style="color:#5151bf;">@Model.korisnicko_ime</h1>
                        }

                    </div>
                        <div class="answers-main-section">
                            <div class="answ-info">


                                <img src="@Url.Content(Model.PutanjaSlike)" class="user">
                                @if (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator))
                                {
                            <div class="buttons-box">
                                <button class="update">@Html.ActionLink("Ažuriraj", "Azuriraj", new { id = Model.id, user_id = (User as LogiraniKorisnik).Id })</button>
                                <button class="delete">@Html.ActionLink("Izbriši", "Brisi", new { id = Model.id, user_id = (User as LogiraniKorisnik).Id })</button><br />
                                </div>
                                <div class="buttons-box" style="margin-top:10px;">
                                <button class="best" style="width:110px;">
                                    @Html.ActionLink("PDF pitanja", "KorisnikIspisPit", "App", new { id = Model.id },null)
                                </button><br />
                                <button class="best" style="width:110px;">
                                    @Html.ActionLink("PDF odgovora", "KorisnikIspisOdg", "App", new { id = Model.id },null)
                                </button>
                            </div>
                                }
                                else if (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).Id == Model.id)
                                {
                            <div class="buttons-box">
                                <button class="update">@Html.ActionLink("Ažuriraj", "Azuriraj", new { id = Model.id, user_id = (User as LogiraniKorisnik).Id })</button>
                                <button class="delete">@Html.ActionLink("Izbriši", "Brisi", new { id = Model.id, user_id = (User as LogiraniKorisnik).Id })</button><br />
                                </div>
                                <div class="buttons-box" style="margin-top:10px;">
                                <button class="best" style="width:110px;">
                                    @Html.ActionLink("PDF pitanja", "KorisnikIspisPit","App", new { id = Model.id },null)
                            </button><br />
                            <button class="best" style="width:110px;">
                                @Html.ActionLink("PDF odgovora", "KorisnikIspisOdg","App", new { id = Model.id },null)
                            </button>
                            </div>
                                }
                                else if (User.Identity.IsAuthenticated)
                                {
                            <div class="buttons-box">
                                <button class="best" style="width:110px;">
                                    @Html.ActionLink("PDF pitanja", "KorisnikIspisPit", "App", new { id = Model.id }, null)
                                </button><br />
                                         <button class="best" style="width:110px;">
                                             @Html.ActionLink("PDF odgovora", "KorisnikIspisOdg", "App", new { id = Model.id }, null)
                                         </button>
                            </div>
                                }
</div>
                            <div class="answ-container">
                                <p class="num-of-answ">Ovlast: <span>@Model.ovlast_sifra</span></p>
                                <p class="num-of-answ">
                                    Broj pitanja:
                                    @if (ViewBag.Broj > 0)
                                    {
                                        <span>@ViewBag.Broj</span>
                                    }
                                    else
                                    {
                                        <span>0</span>
                                    }
                                </p>
                                <div class="answers">
                                    @if (ViewBag.Broj == 0)
                                    {
                                        if (Model.id == ((User as LogiraniKorisnik).Id))
                                        {
                                    <div class="answer">
                                        <p class="no-answers">
                                            Nemate postavljenih pitanja.<br />
                                            @Html.ActionLink("Dodajte ih!", "DodajPitanje", "App",null, new { @data_url = Url.Action("DodajPitanje", "App"), @style= "color:#5151bf;" })
                                        </p>
                                    </div>
                                        }
                                        else
                                        {
                                            <div class="answer">
                                                <p class="no-answers">Korisnik nema postavljenih pitanja.</p>
                                            </div>
                                        }

                                    }
                                    else
                                    {
                                        foreach (var pit in ViewBag.Pitanja)
                                        {
                                            <div class="answer">
                                                <p>@Html.ActionLink((string)pit.pitanjeTekst, "OtvoriPitanje", "App", new { id = pit.id }, new { @id = "pitanjeDetalji", @data_url = Url.Action("OtvoriPitanje", "App", new { id = pit.id }) })</p>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            @Styles.Render("/Content/style.css")
