@using QA.Models
@model Korisnik
@{
    ViewBag.Title = "Novi korisnik";
    Layout = null;
    AjaxOptions ajaxOpt = new AjaxOptions()
    {
        HttpMethod = "POST",
        OnSuccess = "prozor",
        OnFailure = "prozorFail"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="sakrij">
    </div>
    <header>
        <div class="hamburger-menu">
            <div class="bar"></div>
        </div>
        <div class="mobile-nav hide">
            <ul>
                @if (TempData["dosaoSa"] != null)
                {
                    <li><a href='@TempData["dosaoSa"]'>Povratak</a></li>
                }
                else
                {
                    <li>@Html.ActionLink("Početak", "Index", "Home")</li>
                }
            </ul>
            </div>
    </header>
    <section class="body">
        <section class="form-section">
            <div id="poruka">
                <div id="poruka_zaglavlje">
                    @if (TempData["dosaoSa"] == null)
                    {
                        <a href='@Url.Action("Index", "Korisnik")'>
                            <span id="zatvori">&times;</span>
                        </a>
                    }
                    else
                    {
                        <a href='@TempData["dosaoSa"]'>
                            <span id="zatvori">&times;</span>
                        </a>
                    }
                </div>
                <div id="poruka_tekst"></div>
            </div>
            <h1>@ViewBag.Title</h1>
            @using (Ajax.BeginForm("DodajKorisnika", "Korisnik", ajaxOpt, new { @class = "login-form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.LabelFor(m => m.korisnicko_ime)
                @Html.EditorFor(m => m.korisnicko_ime, new { htmlAttributes = new { @placeholder = "Korisničko ime..." } })
                @Html.ValidationMessageFor(m => m.korisnicko_ime, "", new { @class = "validacija" })<br />
                @Html.LabelFor(m => m.LozinkaUnos)
                @Html.EditorFor(m => m.LozinkaUnos, new { htmlAttributes = new { @placeholder = "Lozinka..." } })
                @Html.ValidationMessageFor(m => m.LozinkaUnos, "", new { @class = "validacija" })<br />
                @Html.LabelFor(m => m.LozinkaUnos2)
                @Html.EditorFor(m => m.LozinkaUnos2, new { htmlAttributes = new { @placeholder = "Ponovite lozinku..." } })
                @Html.ValidationMessageFor(m => m.LozinkaUnos2, "", new { @class = "validacija" })<br />
                @Html.LabelFor(m => m.upis_ovlast)<br />
                @Html.DropDownListFor(m => m.upis_ovlast, new SelectList(ViewBag.Ovlasti), "Odaberite ovlast")
                @Html.ValidationMessageFor(m => m.upis_ovlast, "", new { @class = "validacija" })<br />
                @Html.Label("Profilna slika")<br />
                <input type="file" name="file" id="file" accept=".png,.jpg,.jpeg,.gif,.tif" />
                <button name="dodajKor" type="submit" id="dodajKor">
                    Dodaj
                </button>
            }
        </section>
    </section>
</body>
</html>
<script type="text/javascript">
    function prozor() {
            var poruka = document.getElementById("poruka");
        document.getElementById("poruka_tekst").innerHTML = "<span id='kvacica'>&#x2714;</span> <br> Korisnik uspješno dodan!";
        poruka.classList.add("fadein");
        poruka.style.zIndex = 3;
        var sakrij = document.getElementById("sakrij");
        sakrij.setAttribute("class", "sakrij");
        var tipka = document.getElementById("dodajKor");
        tipka.disabled = "disabled";
    }

    function prozorFail() {
        var poruka = document.getElementById("poruka");
        document.getElementById("poruka_tekst").innerHTML = "<span id='x-brisi'>&times;</span> <br> Korisničko ime već postoji!";
        poruka.classList.add("fadein");
        poruka.style.zIndex = 3;
        var sakrij = document.getElementById("sakrij");
        sakrij.setAttribute("class", "sakrij");
        var tipka = document.getElementById("dodajKor");
        tipka.disabled = "disabled";
    }

    (function () {
        $('.hamburger-menu').on('click', function () {
            $('.bar').toggleClass('animate');
            var mobileNav = $('.mobile-nav');
            mobileNav.toggleClass('hide show');
        })
    })();

</script>

@Styles.Render("/Content/style.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")