@using QA.Models
@using QA.Misc
@model List<Korisnik>
@{
    ViewBag.Title = "Popis korisnika";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="hamburger-menu">
            <div class="bar"></div>
        </div>
        <div class="mobile-nav hide">
            <ul>
                @if (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator))
                {
                    <li>@Html.ActionLink("Natrag na pitanja", "Index", "App")</li>
                    <li>@Html.ActionLink("Dodaj korisnika", "DodajKorisnika", "Korisnik")</li>
                    <li>
                        <a href="@Url.Action("IspisKorisnika", "App")">
                            Kreiraj PDF
                        </a>
                    </li>
                    <li>@Html.ActionLink("Odjava", "Odjava", "Korisnik", null, new { @class = "li-right" })</li>
                    <li>@Html.ActionLink(((User as LogiraniKorisnik).KorisnickoIme), "DetaljiKorisnik", "Korisnik", new { id = ((User as LogiraniKorisnik).Id) }, new { @class = "li-right", @id = "korisnikDetalji", @data_url = Url.Action("DetaljiKorisnik", "Korisnik", new { id = ((User as LogiraniKorisnik).Id) }) })</li>
                }
            </ul>
            </div>
    </header>
    <div class="question-container" style="margin-top:100px;">
        <div class="category-name">Popis korisnika</div>
        <div class="questions">
            @foreach (var kor in Model)
            {
                <div class="question-box">
                    <div class="question-text">
                        @if (!String.IsNullOrEmpty(kor.korisnicko_ime))
                        {
                            @Html.ActionLink(kor.korisnicko_ime, "DetaljiKorisnik", new { id = kor.id }, new { @id = "korisnikDetalji", @data_url = Url.Action("DetaljiKorisnik", "Korisnik", new { id = kor.id, ReturnUrl = ViewBag.ReturnUrl }) })

                        }
                    </div>
                    <p class="answers-num">Ovlast: <div class="num">@kor.ovlast_sifra</div></p>
                </div>
            }
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    (function () {
        $('.hamburger-menu').on('click', function () {
            $('.bar').toggleClass('animate');
            var mobileNav = $('.mobile-nav');
            mobileNav.toggleClass('hide show');
        })
    })();
</script>
@Styles.Render("/Content/style.css")

