@model QA.Models.KorisnikPrijava
@{
    ViewBag.Title = "Prijava";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="hamburger-menu">
            <div class="bar"></div>
        </div>
        <div class="mobile-nav hide">
            <ul>
                <li>@Html.ActionLink("Natrag na pitanja", "Index", "App")</li>
                <li>@Html.ActionLink("Registracija", "Registracija", "Korisnik")</li>
            </ul>
            </div>
    </header>
        <section class="body">
            <section class="form-section">
                <h1>@ViewBag.Title</h1>
                @using (Html.BeginForm("Prijava", "Korisnik", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false, "", new { @style = "color:red; font-size:12px;", @class = "text-danger" })
                    @Html.TextBoxFor(m => m.KorisnickoIme, new { @placeholder = "Korisničko ime..." })
                    @Html.PasswordFor(m => m.Lozinka, new { @placeholder = "Lozinka..." })
                    <p>Nemate profil? @Html.ActionLink("Registracija", "Registracija", "Korisnik")</p>
                    <button type="submit" name="prijava">Prijava</button>
                }
            </section>
        </section>
</body>
</html>
<script type="text/javascript">
    (function () {
        $('.hamburger-menu').on('click', function () {
            $('.bar').toggleClass('animate');
            var mobileNav = $('.mobile-nav');
            mobileNav.toggleClass('hide show');
        })
    })();
</script>
@Styles.Render("/Content/style.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")